/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* CSS comune a tutte le pagine */

* {

  font-family: 'Roboto', sans-serif;
  color: #3D0955; 

}


/* css Pagina Login */

.ImmagineLaterale {
  background-image: url(./assets/ImmagineLaterale.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  height: 58.7rem;
}


/* CSS Pagina Register */

.parteDestra {
  background-image: url(./assets/ImmagineLaterale.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  height: 58.7rem;
}

.Registers {
    color: black;
}


/* CSS pagina Dashboard */

.imgIndirizzi {
  width: 40px;
  height: 40px;
}

